 
body {
    margin: 0;
    font-family: 'Your Chosen Font', sans-serif;
  }
  
  header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
  }
  
  .head{
    text-align: center;
    justify-content: center;
  }
  .box {
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .box .title {
    position: absolute;
    background-color: #ffcc00;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
    
   
  }
  
  .content {
    padding: 20px;
    margin-top: 10px;
  }
  